<section>
<h1>{{section.settings.new_text}}</h1>
</section>



{% schema %}
{
  "name": "text_section",
  "settings": [
    {
        "type":"text",
        "id":"new_text",
        "label":"Enter text"
    }
  ],
  "presets": [
    {
      "name": "text_section"
    }
  ]
}
{% endschema %}